* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.projects {
    border: 0px solid black;
    width: 1250px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects>p {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: #735d78;
}

.project_1 {
    display: flex;
    width: fit-content;
    align-content: center;
}

.project-react {
    border: 1px dotted #219ebc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: aliceblue;
}

.project-react-1 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #219ebc;
    text-align: center;
    margin-bottom: 10px;
}

.project-react-2 {
    font-size: 20px;
    text-indent: 10px;
    margin-top: 5px;
    color: #023047;
    margin-bottom: 10px;
}

.project-react-3 {
    font-size: 20px;
    text-indent: 10px;
    margin-top: 5px;
    color: #023047;
    margin-bottom: 10px;
}

.project-node {
    border: 1px dotted #219ebc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: aliceblue;
}

.project-node-1 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #219ebc;
    text-align: center;
    margin-bottom: 10px;
}

.project-node-2 {
    font-size: 20px;
    text-indent: 10px;
    margin-top: 5px;
    color: #023047;
    margin-bottom: 10px;
}

.project-output {
    border: 0px solid black;
    width: 1250px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.project-output >p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #219ebc;
    text-align: center;
    margin-bottom: 10px;
}

.project-output-1 {
    border: 0px solid black;
    border-radius: 15px;
}

.project-output-2 {
    height: 650px;
    border: 0px solid black;
    border-radius: 15px;
}

.img img{
    width: 650px;
    height: 550px;
}

